{% extends 'base.html.twig' %}

{% block title %}Réservation{% endblock %}

{% block body %}
    <h1>Booking</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ booking.id }}</td>
            </tr>
            <tr>
                <th>Date de début</th>
                <td>{{ booking.dateStart ? booking.dateStart|date('Y-m-d H:i') : '' }}</td>
            </tr>
            <tr>
                <th>Date de fin</th>
                <td>{{ booking.dateEnd ? booking.dateEnd|date('Y-m-d H:i') : '' }}</td>
            </tr>
            <tr>
                <th>Prix</th>
                <td>{{ booking.price }}</td>
            </tr>
            <tr>
                <th>Inventaire</th>
                <td>{{ booking.inventory }}</td>
            </tr>
            <tr>
                <th>Commentaire</th>
                <td>{{ booking.comment }}</td>
            </tr>
            <tr>
                <th>Couleur de fond</th>
                <td>{{ booking.backgroundColor }}</td>
            </tr>
            <tr>
                <th>Couleur du texte</th>
                <td>{{ booking.textColor }}</td>
            </tr>
            <tr>
                <th>Déclaré ?</th>
                <td>{{ booking.declared ? 'Yes' : 'No' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('bookings') }}">Retour</a>

    <a href="{{ path('booking_edit', {'id': booking.id}) }}">Modifier</a>

    {{ include('booking/_delete_form.html.twig') }}
{% endblock %}
