{{ form_start(form) }}
    {{ form_widget(form) }}

<div class="d-flex justify-content-center">
    <a href="{{ path('owner_list') }}" class="btn btn-outline-danger me-2">Annuler</a>
    <button class="btn btn-success ms-2">{{ button_label|default('Enregistrer') }}</button>
</div>
{{ form_end(form) }}
