{% extends 'base.html.twig' %}

{% block title %}Owner index{% endblock %}

{% block body %}
    <div class="d-flex justify-content-between">
        <h1>Owner list</h1>
        <div>
            <a href="{{ path('owner_new') }}" class="btn btn-primary">Create new</a>
        </div>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th>Dogs</th>
                <th>Name</th>
                <th>Address</th>
                <th>Contacts</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for owner in owners %}
            <tr>
                <td>
                    {% for dog in owner.dogs %}
                        <a href="{{ path('dog_show', {id: dog.id}) }}">{{ dog.name }}</a>{% if not loop.last %}, {% endif %}
                    {% endfor %}
                </td>
                <td>{{ owner.name }}</td>
                <td>{{ owner.address }}</td>
                <td>{{ owner.contacts ? owner.contacts|json_encode : '' }}</td>
                <td>
                    <a href="{{ path('owner_show', {'id': owner.id}) }}">show</a>
                    <a href="{{ path('owner_edit', {'id': owner.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
