{% extends 'base.html.twig' %}

{% block title %}Owner{% endblock %}

{% block body %}
    <h1>Owner</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Name</th>
                <td>{{ owner.name }}</td>
            </tr>
            <tr>
                <th>Address</th>
                <td>{{ owner.address }}</td>
            </tr>
            <tr>
                <th>Contacts</th>
                <td>{{ owner.contacts ? owner.contacts|json_encode : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('owner_list') }}">back to list</a>

    <a href="{{ path('owner_edit', {'id': owner.id}) }}">edit</a>
{% endblock %}
