{% extends 'base.html.twig' %}

{% block title %}Gains{% endblock %}

{% block body %}
    <div class="row profits-view" data-date-start="{{ dateStart|date('d-m-Y') }}"
         data-date-end="{{ dateEnd|date('d-m-Y') }}">

        {{ form_start(filterBookingsForm) }}
        <div class="row mb-4">
            <div class="col-2">
                {{ form_row(filterBookingsForm.dateStart) }}
            </div>
            <div class="col-2">
                {{ form_row(filterBookingsForm.dateEnd) }}
            </div>
            <div class="col-4">
                {{ form_row(filterBookingsForm.dogs) }}
            </div>
            <div class="col-2 form-check form-switch d-flex align-items-end justify-content-end">
                {{ form_row(filterBookingsForm.declared) }}
            </div>
            <div class="col-2 d-flex align-items-end justify-content-end">
                <a href="" class="btn btn-outline-danger me-2">Reset</a>
                {{ form_row(filterBookingsForm.submit) }}
            </div>
        </div>
        {{ form_end(filterBookingsForm) }}

        <hr>
        <p class="h3 text-center mt-3 mb-4">Gains du {{ dateStart|date('d/m/Y') }}
            au {{ dateEnd|date('d/m/Y') }}</p>
        <div class="col-8">
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">Date de début</th>
                    <th scope="col">Date fin</th>
                    <th scope="col">Chiens</th>
                    <th scope="col">Prix</th>
                    <th scope="col">Declaré</th>
                </tr>
                </thead>
                <tbody>
                {% for booking in bookings %}
                    <tr>
                        <td>{{ booking.dateStart|date('d/m/Y') }}</td>
                        <td>{{ booking.dateEnd|date('d/m/Y') }}</td>
                        <td>
                            {% for dog in booking.dogs %}
                                {{ dog.name }}{% if not loop.last %}, {% endif %}
                            {% endfor %}
                        </td>
                        <td>{{ booking.priceEuro }}</td>
                        <td>{% if booking.declared %}Oui{% else %}Non{% endif %}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="col-4 d-flex flex-column">
            <div class="">
                <table class="table table-bordered">
                    <tbody>
                    <tr>
                        <th>Total des gains</th>
                        <td>{{ totalProfits }}</td>
                    </tr>
                    <tr>
                        <th>En cours ou terminé</th>
                        <td>{{ currentProfits }}</td>
                    </tr>
                    <tr>
                        <th>En attente</th>
                        <td>{{ comingProfits }}</td>
                    </tr>
                    <tr>
                        <th>Gains déclarés</th>
                        <td>{{ totalProfitsDeclared }}</td>
                    </tr>
                    <tr>
                        <th>Gains non déclarés</th>
                        <td>{{ totalProfitsUndeclared }}</td>
                    </tr>

                    </tbody>
                </table>
            </div>
            <canvas id="profitChart" width="600" height="400" data-declared="{{ totalProfitsDeclaredInt }}" data-undeclared="{{ totalProfitsUndeclaredInt }}"></canvas>
        </div>
    </div>
{% endblock %}
