{% extends 'base.html.twig' %}

{% block title %}Chiens{% endblock %}

{% block body %}
    <div class="d-flex justify-content-between">
        <h1>Liste des chiens</h1>
        <div>
            <a href="{{ path('dog_new') }}" class="btn btn-primary">Créer</a>
        </div>
    </div>

    <table class="table">
        <thead>
        <tr>
            <th>Nom</th>
            <th>Race</th>
            <th>Age</th>
            <th>Propriétaire</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for dog in dogs %}
            <tr>
                <td>{{ dog.name }}</td>
                <td>{{ dog.breed }}</td>
                <td>{{ dog.age != null ? dog.age : '' }}</td>
                <td>{% if dog.owner %}<a href="{{ path('owner_show', {id: dog.owner.id}) }}">{{ dog.owner.name }}</a>{% endif %}</td>
                <td>
                    <a href="{{ path('dog_show', {'id': dog.id}) }}">Voir</a>
                    <a href="{{ path('dog_edit', {'id': dog.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">Aucun enregistrement</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
