{% extends 'base.html.twig' %}

{% block title %}Dog index{% endblock %}

{% block body %}
    <h1>Dog list</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Background color</th>
                <th>Text color</th>
                <th>Birthday</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for dog in dogs %}
            <tr>
                <td>{{ dog.name }}</td>
                <td>{{ dog.backgroundColor }}</td>
                <td>{{ dog.textColor }}</td>
                <td>{{ dog.birthday ? dog.birthday|date('Y-m-d') : '' }}</td>
                <td>
                    <a href="{{ path('dog_show', {'id': dog.id}) }}">show</a>
                    <a href="{{ path('dog_edit', {'id': dog.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('dog_new') }}">Create new</a>
{% endblock %}
