{% extends 'base.html.twig' %}

{% block title %}Dog{% endblock %}

{% block body %}
    <h1>Dog</h1>

    <table class="table">
        <tbody>
        <tr>
            <th>Nom</th>
            <td>{{ dog.name }}</td>
        </tr>
        <tr>
            <th>Couleur de fond</th>
            <td>{{ dog.backgroundColor }}</td>
        </tr>
        <tr>
            <th>Couleur du texte</th>
            <td>{{ dog.textColor }}</td>
        </tr>
        <tr>
            <th>Date de naissance</th>
            <td>{{ dog.birthday ? dog.birthday|date('Y-m-d') : '' }}</td>
        </tr>
        <tr>
            <th>Race</th>
            <td>{{ dog.breed }}</td>
        </tr>
        <tr>
            <th>Alimentation</th>
            <td>{{ dog.food|raw }}</td>
        </tr>
        </tbody>
    </table>

    <div class="d-flex justify-content-center">
        <a href="{{ path('dog_list') }}" class="btn btn-outline-secondary me-2">Retour</a>
        <a href="{{ path('dog_edit', {'id': dog.id}) }}" class="btn btn-primary ms-2">Modifier</a>
    </div>
{% endblock %}
